#sticky-bar{
    display: none;
    animation:  move-me-down 0.6S;
}
@keyframes move-me-down {
    20% {
        /* opacity: 0;   */
        height: 0px;            
    }
    30%{ 
        height: 10px;
    }   
    100% {
      /* height: 250px; */
    }
}
