<body>
<h1 style="color: var(--my-second); font-size: 50px; font-weight: 500;width: 50%;margin: 0px;">Bienvenue sur le site carrières du Groupe BPCE !</h1>
<h1 style="color: var(--my-color); font-size: 50px; font-weight: 500;">Nos dernières offres d'emploi</h1>
<div #worksview id="works">
       <div  *ngFor="let work of workList">
       <a href="{{work.link}}"> <div class="work"><div class="showed">
        <div class="work-top">{{work.title}}</div>
        <div class="work-bottom" style="display: flex; flex-wrap: wrap; color: black;">
            <img style="margin-top: 10px;height: 20px;" src="assets/{{work.company}}.png" alt="">
            <div style="font-size: small;font-weight: bold; color: var(--my-color);margin-top: 5px;width: 100%;">{{work.company}}</div>
            <div style="width: 100%; display: flex; padding-top: 10px;"><div><div style="margin-right: 5px;" class="fa fa-pencil-square-o"> </div>{{work.type}}</div>
            <div><div style="margin-right: 5px;margin-left: 20px;" class="fa fa-book"> </div>{{work.id}}</div></div>
            <div style="margin-top: 10px;"><div style="margin-right: 5px;" class="fa fa-map-marker"> </div>{{work.location}}</div>
        </div>
    </div>
   <a href="{{work.link}}"><button  class="hidden-button">Découvrir</button></a>    
</div>
</a>
</div>    
</div>
<div style="position: relative; text-align: end;margin-right: 40px; margin-bottom: 40px;"><div style="padding: 10px;" class="fa fa-arrow-left" (click)="scrollLeft()"></div> <div style="padding: 10px;" class="fa fa-arrow-right" (click)="scrollRight()"></div></div>
<div style="text-align: center;"><a href="https://recrutement.bpce.fr/offres-emploi"><button class='button'>Toutes nos offres</button></a></div>
<div #slider style="width: 75%;margin: auto; display: grid;grid-template-columns: 100% 100% ;overflow: scroll;height: fit-content;scrollbar-width: none;margin-top: 40px;">
    <div *ngFor="let item of news">
        <div #child>
            <img class="news-img" src="{{item.imgUrl}}" alt="">
            <div id="bottom" >
                <div id="title">{{item.title}}</div>
                <a href="{{item.link}}"><button class="button">{{item.button}}</button></a>
                <div style="width: 40%;" id="comment">{{item.comment}}</div>
            </div>
        </div>
</div>

