<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div style="display: flex;flex-wrap: wrap;background-color: var(--my-color); padding: 0px;align-items: end;">
    
        <img style="width: 15%;height: 40px;" src="assets/bar-left.png" alt="bpce-icon">
    <div style="display: flex;width: 70%;justify-content: space-around;">
        <a href=""><ul class="field">Nous connaître
        <div class="hidden">
            <div class="hidden-field">Découvrir BPCE
               <a href="https://recrutement.bpce.fr/le-groupe/decouvrir-bpce/qui-sommes-nous/"><div class="hidden-text">
                <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Qui sommes-nous ?</div></a>
               <a href="https://recrutement.bpce.fr/le-groupe/decouvrir-bpce/ce-qui-nous-rassemble/"><div class="hidden-text">
                <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Rejoindre le Groupe BPCE, c’est s’engager dans une carrière qui a du sens !</div></a>
               <a href="https://recrutement.bpce.fr/nous-rejoindre/le-groupe-bpce-engage-en-faveur-de-la-diversite-et-de-linclusion/"><div class="hidden-text">
                <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>La diversité et l’inclusion</div></a>
            </div>
            <div class="hidden-field">Nos entreprises
               <a href="https://recrutement.bpce.fr/le-groupe/nos-entreprises/banque-populaire/"><div class="hidden-text">
                <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Banque Populaire</div></a>
               <a href="https://recrutement.bpce.fr/le-groupe/nos-entreprises/caisse-depargne/"><div class="hidden-text">
                <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Caisse d’Epargne</div></a>
               <a href="https://recrutement.bpce.fr/le-groupe/nos-entreprises/natixis/"><div class="hidden-text">
                <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Natixis</div></a>
               <a href="https://recrutement.bpce.fr/le-groupe/nos-entreprises/casden/"><div class="hidden-text">
                <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>CASDEN Banque Populaire</div></a>
               <a href="https://recrutement.bpce.fr/le-groupe/nos-entreprises/credit-cooperatif/"><div class="hidden-text">
                <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Crédit Coopératif</div></a>
               <a href="https://recrutement.bpce.fr/le-groupe/nos-entreprises/banque-palatine/"><div class="hidden-text">
                <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Banque Palatine</div></a>
               <a href="https://recrutement.bpce.fr/le-groupe/nos-entreprises/oney/"><div class="hidden-text">
                <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Oney</div></a>
            </div>
           <a href=""><div class="hidden-title"><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Nos métiers           
            </div></a>
        </div>
    </ul>
        </a>
        <a href=""><ul class="field">Nous rejoindre
            <div class="hidden">
            <div class="hidden-field">Découvrir BPCE
                <a href="https://recrutement.bpce.fr/vous-etes/votre-profil/etudiant/"><div class="hidden-text">
                 <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Étudiant</div></a>
                <a href="https://recrutement.bpce.fr/vous-etes/votre-profil/jeune-diplome/"><div class="hidden-text">
                 <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Votre premier emploi</div></a>
                <a href="https://recrutement.bpce.fr/vous-etes/votre-profil/confirme/"><div class="hidden-text">
                 <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Confirmé</div></a>
             </div>
             <div class="hidden-field">Nos entreprises
                 <a href="https://recrutement.bpce.fr/nous-rejoindre/processus-de-recrutement/"><div class="hidden-text">
                 <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Etapes clefs et conseils pour postuler</div></a>
                <a href="https://recrutement.bpce.fr/nous-rejoindre/votre-arrivee-vos-perspectives-devolution/"><div class="hidden-text">
                 <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Votre arrivée & vos perspectives d’évolution</div></a>
                <a href="https://recrutement.bpce.fr/temoignages-de-nos-collaborateurs"><div class="hidden-text">
                 <div class="field-dec"></div><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Témoignages de nos collaborateurs</div></a>
             </div></div>
        </ul></a>
        <a href="https://recrutement.bpce.fr/nous-rejoindre/inspection-generale/"> <ul class="field">L’Inspection générale
            <div class="hidden">
                <a href="https://recrutement.bpce.fr/nous-rejoindre/inspection-generale/"><div class="hidden-title"><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Propulsez votre carrière avec l’Inspection Générale          
                </div></a>
                <a href="https://recrutement.bpce.fr/nous-rejoindre/inspection-generale/le-metier-dinspecteur/"><div class="hidden-title"><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Le métier d’Inspecteur          
                </div></a>
                <a href="https://recrutement.bpce.fr/nous-rejoindre/inspection-generale/un-recrutement-selectif/"><div class="hidden-title"><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Un recrutement sélectif           
                </div></a>
            </div>
        </ul></a>
        <a href="https://recrutement.bpce.fr/rejoindre-le-campus-bpce"> <ul class="field">CFA du Campus BPCE
            <div class="hidden">
                <a href="https://recrutement.bpce.fr/nous-rejoindre/inspection-generale/"><div class="hidden-title"><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Propulsez votre carrière avec l’Inspection Générale          
                </div></a>
                <a href="https://recrutement.bpce.fr/nous-rejoindre/inspection-generale/le-metier-dinspecteur/"><div class="hidden-title"><div class="field-icon"><div style="width: 20px;height: 10px;" class="fa fa-arrow-right"></div></div>Le métier d’Inspecteur          
                </div></a>
                </div>
        </ul></a>
    </div>
        <a href="https://recrutement.bpce.fr/offres-emploi?external=false" style="width: 15%;height: 40px;">
            <img src="assets/bar-right.png" alt="nos offres" style="width: 100%;height: 100%;">
        </a>
    </div>
</body>